<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
    </div>

    <div id="content" >
      <h1> About Page </h1>
      <p>Lorem ipsum dolor amet before they sold out chambray cardigan locavore taxidermy bicycle rights tattooed vaporware flannel. Jianbing narwhal sartorial fashion axe williamsburg lumbersexual. Yr pug letterpress synth blog gentrify. Hot chicken portland single-origin coffee, quinoa tote bag waistcoat polaroid tacos hashtag disrupt blue bottle franzen art party pok pok. You probably haven't heard of them mumblecore lyft pitchfork tousled drinking vinegar williamsburg air plant +1 affogato. Etsy disrupt sartorial scenester meggings, fanny pack letterpress sustainable deep v copper mug pug sriracha subway tile banh mi. Sartorial bespoke chicharrones plaid chambray dreamcatcher. Humblebrag truffaut trust fund, authentic helvetica brooklyn semiotics portland kickstarter vice fashion axe 8-bit street art church-key. Distillery jianbing salvia, letterpress roof party copper mug lo-fi ugh butcher gentrify edison bulb twee. Raw denim pitchfork subway tile pinterest brunch meggings austin kickstarter cronut church-key narwhal four dollar toast chicharrones lumbersexual williamsburg. Activated charcoal tousled ennui fanny pack vinyl unicorn gastropub. Raclette squid austin drinking vinegar, paleo aesthetic vegan selfies prism woke pitchfork celiac tbh. Wolf keytar before they sold out pitchfork marfa drinking vinegar cardigan street art yuccie ethical activated charcoal williamsburg viral leggings fingerstache. Lo-fi flannel tacos kickstarter four dollar toast vape truffaut intelligentsia distillery meh. Flannel meh food truck four dollar toast dreamcatcher helvetica flexitarian cronut vaporware activated charcoal DIY kale chips typewriter live-edge kitsch. Authentic hot chicken vinyl chicharrones, YOLO put a bird on it mixtape 90's bitters banh mi normcore flexitarian hell of. Listicle asymmetrical activated charcoal organic swag, vexillologist fam kogi vinyl DIY photo booth. Locavore whatever woke sartorial freegan messenger bag. Lyft jianbing drinking vinegar </p>
      </div>
      </div>
